/**
 * For redirects and stuff like that.
 * Small file, not so much helped 8y this comment.
 */

html {
  background-color: #222222;
  color: white;
}

body {
  padding: 15px;
}

main {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px dotted white;
  padding: 20px;
}
