/* A frontend file! Wow.
 * This file is just loaded statically 8y <link>s in the HTML files, so there's
 * no need to re-run upd8.js when tweaking values here. Handy!
 */

:root {
    --primary-color: #0088ff;
}

body {
    background: black;
    margin: 10px;
    overflow-y: scroll;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url("../media/bg.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

#page-container {
    background-color: rgba(35, 35, 35, 0.80);
    backdrop-filter: blur(4px);
    color: #ffffff;

    max-width: 1100px;
    margin: 10px auto 50px;
    padding: 15px 0;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

#page-container > * {
    margin-left: 15px;
    margin-right: 15px;
}

#banner {
    margin: 10px 0;
    width: 100%;
    background: black;
}

#banner.dim img {
    opacity: 0.8;
}

#banner img {
    display: block;
    width: 100%;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#skippers {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
}

#skippers:focus-within {
    position: static;
    width: unset;
    height: unset;
}

#skippers > .skipper:not(:last-child)::after {
    content: " \00b7 ";
    font-weight: 800;
}

.layout-columns {
    display: flex;
}

#header, #skippers, #footer {
    padding: 5px;
    font-size: 0.85em;
}

#header, #skippers {
    margin-bottom: 10px;
}

#footer {
    margin-top: 10px;
}

#header {
    display: flex;
}

#header > h2 {
    font-size: 1em;
    margin: 0 20px 0 0;
    font-weight: normal;
}

#header > h2 a.current {
    font-weight: 800;
}

#header > h2.dot-between-spans > span:not(:last-child)::after {
    content: " \00b7 ";
    font-weight: 800;
}

#header > h2 > span {
    white-space: nowrap;
}

#header > div {
    flex-grow: 1;
}

#header > div > *:not(:last-child)::after {
    content: " \00b7 ";
    font-weight: 800;
}

#header .chronology {
    display: inline-block;
}

#header .chronology .heading,
#header .chronology .buttons {
    display: inline-block;
}

footer {
    text-align: center;
    font-style: oblique;
}

footer > :first-child {
    margin-top: 0;
}

footer > :last-child {
    margin-bottom: 0;
}

.nowrap {
    white-space: nowrap;
}

.icons {
    font-style: normal;
    white-space: nowrap;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 1em;
    position: relative;
}

.icon > svg {
    width: 24px;
    height: 24px;
    top: -0.25em;
    position: absolute;
    fill: var(--primary-color);
}

.rerelease {
    opacity: 0.7;
    font-style: oblique;
}

.content-columns {
    columns: 2;
}

.content-columns .column {
    break-inside: avoid;
}

.content-columns .column h2 {
    margin-top: 0;
    font-size: 1em;
}

.sidebar, #content, #header, #skippers, #footer {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px dotted var(--primary-color);
    border-radius: 3px;
}

.sidebar-column {
    flex: 1 1 20%;
    min-width: 150px;
    max-width: 250px;
    flex-basis: 250px;
    height: 100%;
}

.sidebar-multiple {
    display: flex;
    flex-direction: column;
}

.sidebar-multiple .sidebar:not(:first-child) {
    margin-top: 10px;
}

.sidebar {
    padding: 5px;
    font-size: 0.85em;
}

#sidebar-left {
    margin-right: 10px;
}

#sidebar-right {
    margin-left: 10px;
}

.sidebar.wide {
    max-width: 350px;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 1;
}

#content {
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 3;
}

.sidebar > h1,
.sidebar > h2,
.sidebar > h3,
.sidebar > p {
    text-align: center;
}

.sidebar h1 {
    font-size: 1.25em;
}

.sidebar h2 {
    font-size: 1.1em;
    margin: 0;
}

.sidebar h3 {
    font-size: 1.1em;
    font-style: oblique;
    font-variant: small-caps;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

.sidebar > p {
    margin: 0.5em 0;
    padding: 0 5px;
}

.sidebar hr {
    color: #555;
    margin: 10px 5px;
}

.sidebar > ol, .sidebar > ul {
    padding-left: 30px;
    padding-right: 15px;
}

.sidebar > dl {
    padding-right: 15px;
    padding-left: 0;
}

.sidebar > dl dt {
    padding-left: 10px;
    margin-top: 0.5em;
}

.sidebar > dl dt.current {
    font-weight: 800;
}

.sidebar > dl dd {
    margin-left: 0;
}

.sidebar > dl dd ul {
    padding-left: 30px;
    margin-left: 0;
}

.sidebar > dl .side {
    padding-left: 10px;
}

.sidebar li.current {
    font-weight: 800;
}

.sidebar li {
    overflow-wrap: break-word;
}

.sidebar article {
    text-align: left;
    margin: 5px 5px 15px 5px;
}

.sidebar article:last-child {
    margin-bottom: 5px;
}

.sidebar article h2,
.news-index h2 {
    border-bottom: 1px dotted;
}

.sidebar article h2 time,
.news-index time {
    float: right;
    font-weight: normal;
}

#cover-art-container {
    float: right;
    width: 40%;
    max-width: 400px;
    margin: 0 0 10px 10px;
    font-size: 0.8em;
}

#cover-art img {
    display: block;
    width: 100%;
    height: 100%;
}

#cover-art-container p {
    margin-top: 5px;
}

.image-container {
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
    position: relative;
    padding: 5px;
    text-align: left;
    background-color: var(--dim-color);
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.image-inner-area {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

img {
    object-fit: cover;
    /* these unfortunately dont take effect while loading, so...
    text-align: center;
    line-height: 2em;
    text-shadow: 0 0 5px black;
    font-style: oblique;
    */
}

.js-hide,
.js-show-once-data,
.js-hide-once-data {
    display: none;
}

a.box:focus {
    outline: 3px double var(--primary-color);
}

a.box:focus:not(:focus-visible) {
    outline: none;
}

a.box img {
    display: block;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 1.5em;
}

#content li {
    margin-bottom: 4px;
}

#content li i {
    white-space: nowrap;
}

.grid-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid-item {
    display: inline-block;
    margin: 15px;
    text-align: center;
    background-color: #111111;
    border: 1px dotted var(--primary-color);
    border-radius: 2px;
    padding: 5px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.grid-item span {
    overflow-wrap: break-word;
    hyphens: auto;
}

.grid-item:hover {
    text-decoration: none;
}

.grid-actions .grid-item:hover {
    text-decoration: underline;
}

.grid-item > span:first-of-type {
    margin-top: 0.45em;
    display: block;
}

.grid-item:hover > span:first-of-type {
    text-decoration: underline;
}

.grid-listing > .grid-item {
    flex: 1 1 26%;
}

.grid-actions {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.grid-actions > .grid-item {
    flex-basis: unset !important;
    margin: 5px;
    --primary-color: inherit !important;
    --dim-color: inherit !important;
}

.grid-item {
    flex-basis: 240px;
    min-width: 200px;
    max-width: 240px;
}

.grid-item:not(.large-grid-item) {
    flex-basis: 180px;
    min-width: 120px;
    max-width: 180px;
    font-size: 0.9em;
}

.square {
    position: relative;
    width: 100%;
}

.square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.vertical-square {
    position: relative;
    height: 100%;
}

.vertical-square::after {
    content: "";
    display: block;
    padding-right: 100%;
}

.reveal {
    position: relative;
    width: 100%;
    height: 100%;
}

.reveal img {
    filter: blur(20px);
    opacity: 0.4;
}

.reveal-text {
    color: white;
    position: absolute;
    top: 15px;
    left: 10px;
    right: 10px;
    text-align: center;
    font-weight: bold;
}

.reveal-interaction {
    opacity: 0.8;
}

.reveal.revealed img {
    filter: none;
    opacity: 1;
}

.reveal.revealed .reveal-text {
    display: none;
}

#content.top-index h1,
#content.flash-index h1 {
    text-align: center;
    font-size: 2em;
}

#content.flash-index h2 {
    text-align: center;
    font-size: 2.5em;
    font-variant: small-caps;
    font-style: oblique;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

#content.top-index h2 {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 0.25em;
}

.quick-info {
    text-align: center;
}

ul.quick-info {
    list-style: none;
    padding-left: 0;
}

ul.quick-info li {
    display: inline-block;
}

ul.quick-info li:not(:last-child)::after {
    content: " \00b7 ";
    font-weight: 800;
}

#intro-menu {
    margin: 24px 0;
    padding: 10px;
    background-color: #222222;
    text-align: center;
    border: 1px dotted var(--primary-color);
    border-radius: 2px;
}

#intro-menu p {
    margin: 12px 0;
}

#intro-menu a {
    margin: 0 6px;
}

li .by {
    white-space: nowrap;
    font-style: oblique;
}

p code {
    font-size: 1em;
    font-family: 'courier new';
    font-weight: 800;
}

blockquote {
    max-width: 600px;
    margin-right: 0;
}

.long-content {
    margin-left: 12%;
    margin-right: 12%;
}

p img {
    max-width: 100%;
    height: auto;
}

dl dt {
    padding-left: 2em;
}

dl dt {
    margin-bottom: 2px;
}

dl dd {
    margin-bottom: 1em;
}

dl ul, dl ol {
    margin-top: 0;
    margin-bottom: 0;
}

.album-group-list dt {
    font-style: oblique;
    padding-left: 0;
}

.album-group-list dd {
    margin-left: 0;
}

.group-chronology-link {
    font-style: oblique;
}

hr.split::before {
    content: "(split)";
    color: #808080;
}

hr.split {
    position: relative;
    overflow: hidden;
    border: none;
}

hr.split::after {
    display: inline-block;
    content: "";
    border: 1px inset #808080;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    margin-left: 10px;
}

li > ul {
    margin-top: 5px;
}

#info-card-container {
    position: absolute;
    display: none;

    margin-right: 10px;
}

#info-card-container.shown {
    display: block;
}

.info-card {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px dotted var(--primary-color);
    border-radius: 3px;
    box-shadow: 0 5px 5px black;

    padding: 5px;
    font-size: 0.9em;
}

.info-card-name {
    font-size: 1em;
    border-bottom: 1px dotted;
    margin: 0;
}

.info-card p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.info-card p:last-child {
    margin-bottom: 0;
}

@media (max-width: 900px) {
    .sidebar-column:not(.no-hide) {
        display: none;
    }

    .layout-columns.vertical-when-thin {
        flex-direction: column;
    }

    .layout-columns.vertical-when-thin > *:not(:last-child) {
        margin-bottom: 10px;
    }

    .sidebar-column.no-hide {
        max-width: unset !important;
        flex-basis: unset !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .sidebar .news-entry:not(.first-news-entry) {
        display: none;
    }
}

@media (max-width: 600px) {
    .content-columns {
        columns: 1;
    }
}
