/* A frontend file! Wow.
 * This file is just loaded statically 8y <link>s in the HTML files, so there's
 * no need to re-run upd8.js when tweaking values here. Handy!
 */

/* Layout - Common */

body {
  margin: 10px;
  overflow-y: scroll;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  /* NB: these are 100 LVW, "largest view width", etc.
   * Stabilizes background on viewports with modal dimensions,
   * e.g. expanding/shrinking tab bar or collapsible find bar.
   * 100% dimensions are kept above for browser compatibility.
   */
  width: 100lvw;
  height: 100lvh;
}

#page-container {
  max-width: 1100px;
  margin: 10px auto 50px;
  padding: 15px 0;
}

#page-container > * {
  margin-left: 15px;
  margin-right: 15px;
}

#skippers:focus-within {
  position: static;
  width: unset;
  height: unset;
}

#banner {
  margin: 10px 0;
  width: 100%;
  position: relative;
}

#banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#banner img {
  display: block;
  width: 100%;
  height: auto;
}

#skippers {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
}

.layout-columns {
  display: flex;
  align-items: stretch;
}

#header,
#secondary-nav,
#skippers,
#footer {
  padding: 5px;
}

#header,
#secondary-nav,
#skippers {
  margin-bottom: 10px;
}

#footer {
  margin-top: 10px;
}

#header {
  display: grid;
}

#header.nav-has-main-links.nav-has-content {
  grid-template-columns: 2.5fr 3fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "main-links content"
    "bottom-row content";
}

#header.nav-has-main-links:not(.nav-has-content) {
  grid-template-columns: 1fr;
  grid-template-areas:
    "main-links"
    "bottom-row";
}

.nav-main-links {
  grid-area: main-links;
  margin-right: 20px;
}

.nav-content {
  grid-area: content;
}

.nav-bottom-row {
  grid-area: bottom-row;
  align-self: start;
}

.sidebar-column {
  flex: 1 1 20%;
  min-width: 150px;
  max-width: 250px;
  flex-basis: 250px;
  align-self: flex-start;
}

.sidebar-column.wide {
  max-width: 350px;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
}

.sidebar-multiple {
  display: flex;
  flex-direction: column;
}

.sidebar-multiple .sidebar:not(:first-child) {
  margin-top: 15px;
}

.sidebar {
  --content-padding: 5px;
  padding: var(--content-padding);
}

#sidebar-left {
  margin-right: 10px;
}

#sidebar-right {
  margin-left: 10px;
}

#content {
  position: relative;
  --content-padding: 20px;
  box-sizing: border-box;
  padding: var(--content-padding);
  flex-grow: 1;
  flex-shrink: 3;
}

.footer-content {
  margin: 5px 12%;
}

.footer-content > :first-child {
  margin-top: 0;
}

.footer-content > :last-child {
  margin-bottom: 0;
}

.footer-localization-links {
  margin: 5px 12%;
}

/* Design & Appearance - Layout elements */

body {
  background: black;
}

body::before {
  background-image: url("../media/bg.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

#page-container {
  background-color: var(--bg-color, rgba(35, 35, 35, 0.8));
  color: #ffffff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}

#skippers > * {
  display: inline-block;
}

#skippers > .skipper-list:not(:last-child)::after {
  display: inline-block;
  content: "\00a0";
  margin-left: 2px;
  margin-right: -2px;
  border-left: 1px dotted;
}

#skippers .skipper-list > .skipper:not(:last-child)::after {
  content: " \00b7 ";
  font-weight: 800;
}

#banner {
  background: black;
  background-color: var(--dim-color);
  border-bottom: 1px solid var(--primary-color);
}

#banner::after {
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

#banner.dim img {
  opacity: 0.8;
}

#header,
#secondary-nav,
#skippers,
#footer,
.sidebar {
  font-size: 0.85em;
}

.sidebar,
#content,
#header,
#secondary-nav,
#skippers,
#footer {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px dotted var(--primary-color);
  border-radius: 3px;
  transition: background-color 0.2s;
}

/*
.sidebar:focus-within,
#content:focus-within,
#header:focus-within,
#secondary-nav:focus-within,
#skippers:focus-within,
#footer:focus-within {
  background-color: rgba(0, 0, 0, 0.85);
  border-style: solid;
}
*/

.sidebar > h1,
.sidebar > h2,
.sidebar > h3,
.sidebar > p {
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

.sidebar h1 {
  font-size: 1.25em;
}

.sidebar h2 {
  font-size: 1.1em;
  margin: 0;
}

.sidebar h3 {
  font-size: 1.1em;
  font-style: oblique;
  font-variant: small-caps;
  margin-top: 0.3em;
  margin-bottom: 0em;
}

.sidebar > p {
  margin: 0.5em 0;
  padding: 0 5px;
}

.sidebar hr {
  color: #555;
  margin: 10px 5px;
}

.sidebar > ol,
.sidebar > ul {
  padding-left: 30px;
  padding-right: 15px;
}

.sidebar > dl {
  padding-right: 15px;
  padding-left: 0;
}

.sidebar > dl dt {
  padding-left: 10px;
  margin-top: 0.5em;
}

.sidebar > dl dt.current {
  font-weight: 800;
}

.sidebar > dl dd {
  margin-left: 0;
}

.sidebar > dl dd ul {
  padding-left: 30px;
  margin-left: 0;
}

.sidebar > dl .side {
  padding-left: 10px;
}

.sidebar li.current {
  font-weight: 800;
}

.sidebar li {
  overflow-wrap: break-word;
}

.sidebar > details.current summary {
  font-weight: 800;
}

.sidebar > details summary {
  margin-top: 0.5em;
  padding-left: 5px;
}

summary > span:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

summary .group-name {
  color: var(--primary-color);
}

.sidebar > details ul,
.sidebar > details ol {
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar > details:last-child {
  margin-bottom: 10px;
}

.sidebar > details[open] {
  margin-bottom: 1em;
}

.sidebar article {
  text-align: left;
  margin: 5px 5px 15px 5px;
}

.sidebar article:last-child {
  margin-bottom: 5px;
}

.sidebar article h2,
.news-index h2 {
  border-bottom: 1px dotted;
}

.sidebar article h2 time,
.news-index time {
  float: right;
  font-weight: normal;
}

#content {
  overflow-wrap: anywhere;
}

footer {
  text-align: center;
  font-style: oblique;
}

.footer-localization-links > span:not(:last-child)::after {
  content: " \00b7 ";
  font-weight: 800;
}

/* Design & Appearance - Content elements */

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: solid !important;
}

a.current {
  font-weight: 800;
}

a:not([href]) {
  cursor: default;
}

a:not([href]):hover {
  text-decoration: none;
}

.nav-main-links > span > span {
  white-space: nowrap;
}

.nav-main-links > span.current > span.nav-link-content > a {
  font-weight: 800;
}

.nav-links-index > span:not(:first-child):not(.no-divider)::before,
.nav-links-groups > span:not(:first-child):not(.no-divider)::before {
  content: "\0020\00b7\0020";
  font-weight: 800;
}

.nav-links-hierarchical > span:not(:first-child):not(.no-divider)::before {
  content: "\0020/\0020";
}

#header .chronology .heading,
#header .chronology .buttons {
  white-space: nowrap;
}

#secondary-nav {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.blockwrap {
  display: inline-block;
}

.contribution.has-tooltip,
.datetimestamp.has-tooltip {
  position: relative;
}

.contribution.has-tooltip > a,
.datetimestamp.has-tooltip > time {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.datetimestamp.has-tooltip > time {
  cursor: default;
}

.contribution.has-tooltip > a:hover,
.contribution.has-tooltip > a.has-visible-tooltip,
.datetimestamp.has-tooltip > time:hover,
.datetimestamp.has-tooltip > time.has-visible-tooltip {
  text-decoration-style: wavy !important;
}

.icons-tooltip,
.datetimestamp-tooltip {
  position: absolute;
  z-index: 3;
  left: -34px;
  top: calc(1em + 1px);
  display: none;
}

.icons-tooltip {
  padding: 3px 6px 6px 6px;
  left: -34px;
}

.datetimestamp-tooltip {
  padding: 3px 4px 2px 2px;
  left: -10px;
}

li:not(:first-child:last-child) .datetimestamp-tooltip,
.offset-tooltips > :not(:first-child:last-child) .datetimestamp-tooltip {
  left: 14px;
}

.icons-tooltip-content,
.datetimestamp-tooltip-content {
  display: block;

  background: var(--bg-black-color);
  border: 1px dotted var(--primary-color);
  border-radius: 6px;

  -webkit-backdrop-filter:
    brightness(1.5) saturate(1.4) blur(4px);

          backdrop-filter:
    brightness(1.5) saturate(1.4) blur(4px);

  box-shadow:
    0 3px 4px 4px #000000aa,
    0 -2px 4px -2px var(--primary-color) inset;
}

.icons-tooltip-content {
  padding: 6px 2px 2px 2px;

  -webkit-user-select: none;
          user-select: none;

  cursor: default;
}

.datetimestamp-tooltip-content {
  padding: 5px 6px;
  white-space: nowrap;
  font-size: 0.9em;
}

.icons {
  font-style: normal;
  white-space: nowrap;
}

.icons a:hover {
  filter: brightness(1.4);
}

.icons a {
  padding: 0 3px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 1em;
  position: relative;
}

.icon > svg {
  width: 24px;
  height: 24px;
  top: -0.25em;
  position: absolute;
  fill: var(--primary-color);
}

.icon.has-text {
  display: block;
  width: unset;
  height: 1.4em;
}

.icon.has-text > svg {
  width: 18px;
  height: 18px;
  top: -0.1em;
}

.icon.has-text > .icon-text {
  margin-left: 24px;
  padding-right: 8px;
}

.rerelease,
.other-group-accent {
  opacity: 0.7;
  font-style: oblique;
}

.other-group-accent {
  white-space: nowrap;
}

.other-group-accent a {
  color: var(--page-primary-color);
}

.content-columns {
  columns: 2;
}

.content-columns .column {
  break-inside: avoid;
}

.content-columns .column h2 {
  margin-top: 0;
  font-size: 1em;
}

p .current {
  font-weight: 800;
}

#cover-art-container {
  font-size: 0.8em;
}

#cover-art .square {
  box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.35);
}

#cover-art img {
  display: block;
  width: 100%;
  height: 100%;
}

#cover-art-container p {
  margin-top: 5px;
}

.commentary-entry-heading {
  margin-left: 15px;
  padding-left: 5px;
  max-width: 625px;
  padding-bottom: 0.2em;
  border-bottom: 1px dotted var(--primary-color);
}

.commentary-entry-accent {
  font-style: oblique;
}

.commentary-art {
  float: right;
  width: 30%;
  max-width: 250px;
  margin: 15px 0 10px 20px;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.35);
}

.js-hide,
.js-show-once-data,
.js-hide-once-data {
  display: none;
}

.content-image {
  margin-top: 1em;
  margin-bottom: 1em;
}

a.box:focus {
  outline: 3px double var(--primary-color);
}

a.box:focus:not(:focus-visible) {
  outline: none;
}

a.box img {
  display: block;
  max-width: 100%;
  height: auto;
}

.square .image-container {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.5em;
}

#content li {
  margin-bottom: 4px;
}

#content li i {
  white-space: nowrap;
}

#content.top-index h1,
#content.flash-index h1 {
  text-align: center;
  font-size: 2em;
}

html[data-url-key="localized.home"] #content h1 {
  text-align: center;
  font-size: 2.5em;
}

#content.flash-index h2 {
  text-align: center;
  font-size: 2.5em;
  font-variant: small-caps;
  font-style: oblique;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}

#content.top-index h2 {
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0.25em;
}

.quick-info {
  text-align: center;
}

ul.quick-info {
  list-style: none;
  padding-left: 0;
}

ul.quick-info li {
  display: inline-block;
}

ul.quick-info li:not(:last-child)::after {
  content: " \00b7 ";
  font-weight: 800;
}

.carousel-container + .quick-info {
  margin-top: 25px;
}

#intro-menu {
  margin: 24px 0;
  padding: 10px;
  background-color: #222222;
  text-align: center;
  border: 1px dotted var(--primary-color);
  border-radius: 2px;
}

#intro-menu p {
  margin: 12px 0;
}

#intro-menu a {
  margin: 0 6px;
}

li .by {
  display: inline-block;
  font-style: oblique;
}

li .by a {
  display: inline-block;
}

p code {
  font-size: 1em;
  font-family: "courier new";
  font-weight: 800;
}

#content blockquote {
  margin-left: 40px;
  max-width: 600px;
  margin-right: 0;
}

#content blockquote blockquote {
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 20px;
  border-left: dotted 1px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#content blockquote blockquote > :first-child {
  margin-top: 0;
}

#content blockquote blockquote > :last-child {
  margin-bottom: 0;
}

main.long-content {
  --long-content-padding-ratio: 0.10;
}

main.long-content .main-content-container,
main.long-content > h1 {
  padding-left: calc(var(--long-content-padding-ratio) * 100%);
  padding-right: calc(var(--long-content-padding-ratio) * 100%);
}

dl dt {
  padding-left: 40px;
  max-width: 600px;
}

dl dt {
  margin-bottom: 2px;
}

dl dd {
  margin-bottom: 1em;
}

dl ul,
dl ol {
  margin-top: 0;
  margin-bottom: 0;
}

ul > li.has-details {
  list-style-type: none;
  margin-left: -17px;
}

.album-group-list dt {
  font-style: oblique;
  padding-left: 0;
}

.album-group-list dd {
  margin-left: 0;
}

.group-chronology-link {
  font-style: oblique;
}

#content hr {
  border: 1px inset #808080;
  width: 100%;
}

#content hr.split::before {
  content: "(split)";
  color: #808080;
}

#content hr.split {
  position: relative;
  overflow: hidden;
  border: none;
}

#content hr.split::after {
  display: inline-block;
  content: "";
  border: 1px inset #808080;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  margin-left: 10px;
}

li > ul {
  margin-top: 5px;
}

.group-contributions-table {
  display: inline-block;
}

.group-contributions-table .group-contributions-row {
  display: flex;
  justify-content: space-between;
}

.group-contributions-table .group-contributions-metrics {
  margin-left: 1.5ch;
  white-space: nowrap;
}

.group-contributions-sorted-by-count:not(.visible),
.group-contributions-sorted-by-duration:not(.visible) {
  display: none;
}

html[data-url-key="localized.albumCommentary"] li.no-commentary {
  opacity: 0.7;
}

html[data-url-key="localized.albumCommentary"] .content-heading-main-title {
  margin-right: 0.25em;
}

html[data-url-key="localized.albumCommentary"] .content-heading-accent {
  font-weight: normal;
  font-style: oblique;
  font-size: 0.9rem;
  display: inline-block;
}

html[data-url-key="localized.listing"][data-url-value0="random"] #data-loading-line,
html[data-url-key="localized.listing"][data-url-value0="random"] #data-loaded-line,
html[data-url-key="localized.listing"][data-url-value0="random"] #data-error-line {
  display: none;
}

html[data-url-key="localized.listing"][data-url-value0="random"] #content a:not([href]) {
  opacity: 0.7;
}

html[data-url-key="localized.newsEntry"] .read-another-links {
  font-style: oblique;
  font-size: 0.9em;
}

/* Additional names (heading and box) */

h1 a[href="#additional-names-box"] {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}

h1 a[href="#additional-names-box"]:hover {
  text-decoration-style: solid;
}

#additional-names-box {
  --custom-scroll-offset: calc(0.5em - 2px);

  margin: 1em 0 1em -10px;
  padding: 15px 20px 10px 20px;
  width: max-content;
  max-width: min(60vw, 600px);

  border: 1px dotted var(--primary-color);
  border-radius: 6px;

  background:
    linear-gradient(var(--bg-color), var(--bg-color)),
    linear-gradient(#000000bb, #000000bb),
    var(--primary-color);

  box-shadow: 0 -2px 6px -1px var(--dim-color) inset;

  display: none;
}

#additional-names-box > :first-child { margin-top: 0; }
#additional-names-box > :last-child { margin-bottom: 0; }

#additional-names-box p {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  font-style: oblique;
}

#additional-names-box ul {
  padding-left: 10px;
  margin-top: 0.5em;
}

#additional-names-box li .additional-name {
  margin-right: 0.25em;
}

#additional-names-box li .additional-name .content-image {
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}

#additional-names-box li .accent {
  opacity: 0.8;
  display: inline-block;
}

/* Images */

.image-container {
  border: 2px solid var(--primary-color);
  box-sizing: border-box;
  position: relative;
  padding: 5px;
  text-align: left;
  background-color: var(--dim-color);
  color: white;
  display: inline-block;
  height: 100%;
}

.image-text-area {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
  line-height: 1.35em;
  color: var(--primary-color);
  font-style: oblique;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
}

.image-inner-area {
  width: 100%;
  height: 100%;
}

img {
  object-fit: cover;
}

img.pixelate {
  image-rendering: crisp-edges;
}

.reveal {
  position: relative;
  width: 100%;
  height: 100%;
}

.reveal img {
  filter: blur(20px);
  opacity: 0.4;
}

.reveal-text-container {
  position: absolute;
  top: 15px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.reveal-text {
  color: white;
  text-align: center;
  font-weight: bold;
}

.reveal-interaction {
  opacity: 0.8;
}

.reveal.revealed img {
  filter: none;
  opacity: 1;
}

.reveal.revealed .reveal-text {
  display: none;
}

.sidebar .image-container {
  max-width: 350px;
}

/* Grid listings */

.grid-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 15px;
}

.grid-item {
  font-size: 0.9em;
}

.grid-item {
  display: inline-block;
  text-align: center;
  background-color: #111111;
  border: 1px dotted var(--primary-color);
  border-radius: 2px;
  padding: 5px;
  margin: 10px;
}

.grid-item img {
  width: 100%;
  height: 100% !important;
  margin-top: auto;
  margin-bottom: auto;
}

.grid-item:hover {
  text-decoration: none;
}

.grid-actions .grid-item:hover {
  text-decoration: underline;
}

.grid-item > span {
  display: block;
  overflow-wrap: break-word;
  hyphens: auto;
}

.grid-item > span:not(:first-child) {
  margin-top: 2px;
}

.grid-item > span:first-of-type {
  margin-top: 6px;
}

.grid-item > span:not(:first-of-type) {
  font-size: 0.9em;
  opacity: 0.8;
}

.grid-item:hover > span:first-of-type {
  text-decoration: underline;
}

.grid-listing > .grid-item {
  flex: 1 25%;
  max-width: 200px;
}

.grid-actions {
  display: flex;
  flex-direction: row;
  margin: 15px;
  align-self: center;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-actions > .grid-item {
  flex-basis: unset !important;
  margin: 5px;
  width: 120px;
  --primary-color: inherit !important;
  --dim-color: inherit !important;
}

/* Carousel */

.carousel-container {
  --carousel-tile-min-width: 120px;
  --carousel-row-count: 3;
  --carousel-column-count: 6;

  position: relative;
  overflow: hidden;
  margin: 20px 0 5px 0;
  padding: 8px 0;
}

.carousel-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -20;
  background-color: var(--dim-color);
  filter: brightness(0.6);
}

.carousel-container::after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  z-index: 40;
  box-shadow:
    inset 20px 2px 40px var(--shadow-color),
    inset -20px -2px 40px var(--shadow-color);
}

.carousel-container:hover .carousel-grid {
  animation-play-state: running;
}

html[data-url-key="localized.home"] .carousel-container {
  --carousel-tile-size: 140px;
}

.carousel-container[data-carousel-rows="1"] { --carousel-row-count: 1; }
.carousel-container[data-carousel-rows="2"] { --carousel-row-count: 2; }
.carousel-container[data-carousel-rows="3"] { --carousel-row-count: 3; }
.carousel-container[data-carousel-columns="4"] { --carousel-column-count: 4; }
.carousel-container[data-carousel-columns="5"] { --carousel-column-count: 5; }
.carousel-container[data-carousel-columns="6"] { --carousel-column-count: 6; }

.carousel-grid:nth-child(2),
.carousel-grid:nth-child(3) {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
}

.carousel-grid:nth-child(2) {
  animation-name: carousel-marquee2;
}

.carousel-grid:nth-child(3) {
  animation-name: carousel-marquee3;
}

@keyframes carousel-marquee1 {
  0% {
    transform: translateX(-100%) translateX(70px);
  }

  100% {
    transform: translateX(-200%) translateX(70px);
  }
}

@keyframes carousel-marquee2 {
  0% {
    transform: translateX(0%) translateX(70px);
  }

  100% {
    transform: translateX(-100%) translateX(70px);
  }
}

@keyframes carousel-marquee3 {
  0% {
    transform: translateX(100%) translateX(70px);
  }

  100% {
    transform: translateX(0%) translateX(70px);
  }
}

.carousel-grid {
  /* Thanks to: https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */
  --carousel-gap-count: calc(var(--carousel-column-count) - 1);
  --carousel-total-gap-width: calc(var(--carousel-gap-count) * 10px);
  --carousel-calculated-tile-max-width: calc((100% - var(--carousel-total-gap-width)) / var(--carousel-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--carousel-tile-min-width), var(--carousel-calculated-tile-max-width)), 1fr));
  grid-template-rows: repeat(var(--carousel-row-count), auto);
  grid-auto-flow: dense;
  grid-auto-rows: 0;
  overflow: hidden;
  margin: auto;

  transform: translateX(0);
  animation: carousel-marquee1 40s linear infinite;
  animation-play-state: paused;
  z-index: 5;
}

.carousel-item {
  display: inline-block;
  margin: 0;
  flex: 1 1 150px;
  padding: 3px;
  border-radius: 10px;
  filter: brightness(0.8);
}

.carousel-item .image-container {
  border: none;
  padding: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 6px;
}

.carousel-item:hover {
  filter: brightness(1);
  background: var(--dim-color);
}

/* Squares */

.square {
  position: relative;
  width: 100%;
}

.square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Info card */

#info-card-container {
  position: absolute;

  left: 0;
  right: 10px;

  pointer-events: none; /* Padding area shouldn't 8e interactive. */
  display: none;
}

#info-card-container.show,
#info-card-container.hide {
  display: flex;
}

#info-card-container > * {
  flex-basis: 400px;
}

#info-card-container.show {
  animation: 0.2s linear forwards info-card-show;
  transition: top 0.1s, left 0.1s;
}

#info-card-container.hide {
  animation: 0.2s linear forwards info-card-hide;
}

@keyframes info-card-show {
  0% {
    opacity: 0;
    margin-top: -5px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes info-card-hide {
  0% {
    opacity: 1;
    margin-top: 0;
  }

  100% {
    opacity: 0;
    margin-top: 5px;
    display: none !important;
  }
}

.info-card-decor {
  padding-left: 3ch;
  border-top: 1px solid white;
}

.info-card {
  background-color: black;
  color: white;

  border: 1px dotted var(--primary-color);
  border-radius: 3px;
  box-shadow: 0 5px 5px black;

  padding: 5px;
  font-size: 0.9em;

  pointer-events: none;
}

.info-card::after {
  content: "";
  display: block;
  clear: both;
}

#info-card-container.show .info-card {
  animation: 0.01s linear 0.2s forwards info-card-become-interactive;
}

@keyframes info-card-become-interactive {
  to {
    pointer-events: auto;
  }
}

.info-card-art-container {
  float: right;

  width: 40%;
  margin: 5px;
  font-size: 0.8em;

  /* Dynamically shown. */
  display: none;
}

.info-card-art-container .image-container {
  padding: 2px;
}

.info-card-art {
  display: block;
  width: 100%;
  height: 100%;
}

.info-card-name {
  font-size: 1em;
  border-bottom: 1px dotted;
  margin: 0;
}

.info-card p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.info-card p:last-child {
  margin-bottom: 0;
}

/* Custom hash links */

.content-heading {
  border-bottom: 3px double transparent;
  margin-bottom: -3px;
}

.content-heading.highlight-hash-link {
  animation: highlight-hash-link 4s;
  animation-delay: 125ms;
}

h3.content-heading {
  clear: both;
}

/* This animation's name is referenced in JavaScript */
@keyframes highlight-hash-link {
  0% {
    border-bottom-color: transparent;
  }

  10% {
    border-bottom-color: white;
  }

  25% {
    border-bottom-color: white;
  }

  100% {
    border-bottom-color: transparent;
  }
}

/* Sticky heading */

[id] {
  --custom-scroll-offset: 0px;
}

#content [id] {
  /* Adjust scroll margin. */
  scroll-margin-top: calc(
      74px /* Sticky heading */
    + 33px /* Sticky subheading */
    - 1em  /* One line of text (align bottom) */
    - 12px /* Padding for hanging letters & focus ring */
    + var(--custom-scroll-offset) /* Customizable offset */
  );
}

.content-sticky-heading-container {
  position: sticky;
  top: 0;

  margin: calc(-1 * var(--content-padding));
  margin-bottom: calc(0.5 * var(--content-padding));

  transform: translateY(-5px);
}

main.long-content .content-sticky-heading-container {
  padding-left: 0;
  padding-right: 0;
}

main.long-content .content-sticky-heading-container .content-sticky-heading-row,
main.long-content .content-sticky-heading-container .content-sticky-subheading-row {
  padding-left: calc(var(--long-content-padding-ratio) * (100% - 2 * var(--content-padding)) + var(--content-padding));
  padding-right: calc(var(--long-content-padding-ratio) * (100% - 2 * var(--content-padding)) + var(--content-padding));
}

.content-sticky-heading-row {
  box-sizing: border-box;
  padding:
    calc(1.25 * var(--content-padding) + 5px)
    20px
    calc(0.75 * var(--content-padding))
    20px;

  width: 100%;
  margin: 0;

  background: var(--bg-black-color);
  border-bottom: 1px dotted rgba(220, 220, 220, 0.4);

  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.content-sticky-heading-container.has-cover .content-sticky-heading-row,
.content-sticky-heading-container.has-cover .content-sticky-subheading-row {
  display: grid;
  grid-template-areas:
    "title cover";
  grid-template-columns: 1fr min(40%, 400px);
}

.content-sticky-heading-row h1 {
  margin: 0;
  padding-right: 10px;
}

.content-sticky-heading-cover-container {
  position: relative;
  height: 0;
  margin: -15px 0px -5px -5px;
}

.content-sticky-heading-cover-needs-reveal {
  display: none;
}

.content-sticky-heading-cover {
  position: absolute;
  top: 0;
  width: 80px;
  right: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.25);
  transition: transform 0.35s, opacity 0.25s;
}

.content-sticky-heading-cover-container:not(.visible) .content-sticky-heading-cover {
  opacity: 0;
  transform: translateY(15px);
}

.content-sticky-heading-cover .image-container {
  border-width: 1px;
  padding: 2px;
}

.content-sticky-heading-cover img {
  display: block;
  width: 100%;
  height: 100%;
}

.content-sticky-subheading-row {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 40px 5px 20px;
  margin-top: 0;
  z-index: -1;

  background: var(--bg-black-color);
  border-bottom: 1px dotted rgba(220, 220, 220, 0.4);

  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);

  transition: margin-top 0.35s, opacity 0.25s;
}

.content-sticky-subheading-row h2 {
  margin: 0;

  font-size: 0.9em !important;
  font-weight: normal;
  font-style: oblique;
  color: #eee;
}

.content-sticky-subheading-row:not(.visible) {
  margin-top: -20px;
  opacity: 0;
}

.content-sticky-heading-container h2.visible {
  margin-top: 0;
  opacity: 1;
}

.content-sticky-heading-row {
  box-shadow:
    inset 0 10px 10px -5px var(--shadow-color),
    0 4px 4px rgba(0, 0, 0, 0.8);
}

.content-sticky-heading-container h2.visible {
  box-shadow:
    inset 0 10px 10px -5px var(--shadow-color),
    0 4px 4px rgba(0, 0, 0, 0.8);
}

#content, .sidebar {
  contain: paint;
}

/* Sticky sidebar */

.sidebar-column.sidebar.sticky-column,
.sidebar-column.sidebar.sticky-last,
.sidebar-multiple.sticky-last > .sidebar:last-child,
.sidebar-multiple.sticky-column {
  position: sticky;
  top: 10px;
}

.sidebar-multiple.sticky-last {
  align-self: stretch;
}

.sidebar-multiple.sticky-column {
  align-self: flex-start;
}

.sidebar-column.sidebar.sticky-column {
  max-height: calc(100vh - 20px);
  align-self: start;
  padding-bottom: 0;
  box-sizing: border-box;
  flex-basis: 275px;
  padding-top: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-color);
}

.sidebar-column.sidebar.sticky-column::-webkit-scrollbar {
  background: var(--dark-color);
  width: 12px;
}

.sidebar-column.sidebar.sticky-column::-webkit-scrollbar-thumb {
  transition: background 0.2s;
  background: rgba(255, 255, 255, 0.2);
  border: 3px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

.sidebar-column.sidebar.sticky-column > h1 {
  position: sticky;
  top: 0;
  margin: 0 calc(-1 * var(--content-padding));
  margin-bottom: 10px;

  border-bottom: 1px dotted rgba(220, 220, 220, 0.4);
  padding: 10px 5px;

  background: var(--bg-black-color);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

/* Image overlay */

#image-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px 40px;
  box-sizing: border-box;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#image-overlay-container.visible {
  opacity: 1;
  pointer-events: auto;
}

#image-overlay-content-container {
  border-radius: 0 0 8px 8px;
  border: 2px solid var(--primary-color);
  background: var(--dim-ghost-color);
  padding: 3px;
  overflow: hidden;

  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

#image-overlay-image-container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 80vmin;
  height: 80vmin;
}

#image-overlay-image,
#image-overlay-image-thumb {
  display: inline-block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}

#image-overlay-image {
  position: absolute;
  top: 0;
  left: 0;
}

#image-overlay-image-thumb {
  filter: blur(16px);
  transform: scale(1.5);
}

#image-overlay-container.loaded #image-overlay-image-thumb {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

#image-overlay-image-container::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: var(--download-progress);
  background: var(--primary-color);
  box-shadow: 0 -3px 12px 4px var(--primary-color);
  transition: 0.25s;
}

#image-overlay-container.loaded #image-overlay-image-container::after {
  width: 100%;
  background: white;
  opacity: 0;
}

#image-overlay-container.errored #image-overlay-image-container::after {
  width: 100%;
  background: red;
}

#image-overlay-container:not(.visible) #image-overlay-image-container::after {
  width: 0 !important;
}

#image-overlay-action-container {
  padding: 4px 4px 6px 4px;
  border-radius: 0 0 5px 5px;
  background: var(--bg-black-color);
  color: white;
  font-style: oblique;
  text-align: center;
}

#image-overlay-container #image-overlay-action-content-without-size:not(.visible),
#image-overlay-container #image-overlay-action-content-with-size:not(.visible),
#image-overlay-container #image-overlay-file-size-warning:not(.visible),
#image-overlay-container #image-overlay-file-size-kilobytes:not(.visible),
#image-overlay-container #image-overlay-file-size-megabytes:not(.visible) {
  display: none;
}

#image-overlay-file-size-warning {
  opacity: 0.8;
  font-size: 0.9em;
}

/* important easter egg mode */

html[data-language-code="preview-en"][data-url-key="localized.home"] #content
  h1::after {
  font-family: cursive;
  display: block;
  content: "(Preview Build)";
  font-size: 0.8em;
}

/* Layout - Wide (most computers) */

@media (min-width: 900px) {
  #page-container:not(.has-zero-sidebars) #secondary-nav {
    display: none;
  }
}

/* Layout - Medium (tablets, some landscape mobiles)
 *
 * Note: Rules defined here are exclusive to "medium" width, i.e. they don't
 * additionally apply to "thin". Use the later section which applies to both
 * if so desired.
 */

@media (min-width: 600px) and (max-width: 899.98px) {
  /* Medim layout is mainly defined (to the user) by hiding the sidebar, so
   * don't apply the similar layout change of widening the long-content area
   * if this page doesn't have a sidebar to hide in the first place.
   */
  #page-container:not(.has-zero-sidebars) main.long-content {
    --long-content-padding-ratio: 0.06;
  }
}

/* Layout - Wide or Medium */

@media (min-width: 600px) {
  .content-sticky-heading-container {
    /* Safari doesn't always play nicely with position: sticky,
     * this seems to fix images sometimes displaying above the
     * position: absolute subheading (h2) child
     *
     * See also: https://stackoverflow.com/questions/50224855/
     */
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }

  /* Cover art floats to the right. It's positioned in HTML beneath the
   * heading, so pull it up a little to "float" on top.
   */
  #cover-art-container {
    float: right;
    width: 40%;
    max-width: 400px;
    margin: -60px 0 10px 20px;

    position: relative;
    z-index: 2;
  }

  html[data-url-key="localized.home"] #page-container.has-one-sidebar .grid-listing > .grid-item:not(:nth-child(n+10)) {
    flex-basis: 23%;
    margin: 15px;
  }

  html[data-url-key="localized.home"] #page-container.has-one-sidebar .grid-listing > .grid-item:nth-child(n+10) {
    flex-basis: 18%;
    margin: 10px;
  }
}

/* Layout - Medium or Thin */

@media (max-width: 899.98px) {
  .sidebar-column:not(.no-hide) {
    display: none;
  }

  #secondary-nav {
    display: block;
  }

  .layout-columns.vertical-when-thin {
    flex-direction: column;
  }

  .layout-columns.vertical-when-thin > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .sidebar-column.no-hide {
    max-width: unset !important;
    flex-basis: unset !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100%;
  }

  .sidebar .news-entry:not(.first-news-entry) {
    display: none;
  }

  .grid-listing > .grid-item {
    flex-basis: 40%;
  }
}

/* Layout - Thin (phones) */

@media (max-width: 600px) {
  .content-columns {
    columns: 1;
  }

  main.long-content {
    --long-content-padding-ratio: 0.02;
  }

  #cover-art-container {
    margin: 25px 0 5px 0;
    width: 100%;
    max-width: unset;
  }

  #additional-names-box {
    max-width: unset;
  }

  /* Show sticky heading above cover art */

  .content-sticky-heading-container {
    z-index: 2;
  }

  /* Let sticky heading text span past lower-index cover art */

  .content-sticky-heading-container.has-cover .content-sticky-heading-row,
  .content-sticky-heading-container.has-cover .content-sticky-subheading-row {
    grid-template-columns: 1fr 90px;
  }

  /* Disable grid features, just line header children up vertically */

  #header {
    display: block;
  }

  #header > div:not(:first-child) {
    margin-top: 0.5em;
  }
}
